/**index.css*/
/**@copyright = boz*/
/**2017-02-12 shenjie*/

header{
	width: 100%;
	height: 60px;
	background: #FFF;
	margin: 0 auto 20px;
	color: #4A4A4A;
}
#headContainer{
	width: 1200px;
	margin:0 auto ;
}
#logo{
	width: 120px;
	height: 60px;
	float: left;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	color: #FFF;
}
#head-btns{
	margin-left: 20px;
}
#head-btns>div{
	width: 94px;
	height: 44px;
	float: left;
	/*background: PINK;*/
	line-height: 60px;
	padding: 0;
	font-size: 16px;
	border-radius: 22px;
	margin-top: 8px;
	line-height: 44px;
}
 .btnicon{
 	display: inline-block;
 	width: 24px;
 	height: 18px;
 	margin-top: 0px;
 	margin-left: -5px;
 	/*background: red;*/
 	vertical-align: -4px;
 	background-size: 18px auto;
 }
header>div,header>ul{
	height: 100%;
}
ul.myarea {
	width: 400px;
	float: right;
	margin: 0;
}
#search-wrap{
	width: 220px;
	float: right;
	margin-right: 40px;
	padding-top: 18px;
}
ul.myarea>li {
	float: left;
	height: 100%;
	padding-top: 20px;
}
li.msgs{
	width: auto;
	margin-right: 15px;
}
li.avatar{
	width: 60px;
	padding-left:15px ;
	padding-top: 10px;
}
li.avatar>img{
	margin-top: -4px;
	width: 30px;
	height: auto;
}
.dropdown-toggle{
	
}
li.userMenu{
	min-width: 80px;
	max-width: 200px;
}
li.myDownload{
	width: 80px;
}
li.mySpace{
	width: 80px;
	text-align: right;
}
div.userMenu{
	background: none;
}
span.tipsMsg{
	display: inline-block;
	background: red;
	border-radius: 10px;
	padding: 0 5px 0;
	color: #FFF;
}
.search-area{
	position: relative;
}
.search-input{
	color: #000;
	width: 180px;
	height: 36px;
	border-radius: 3px;
	border: 1px solid #D2D2D2;
	margin-top: -6px;
	padding-left: 10px;
	padding-right: 30px;
}
.icon-search{
	position: absolute;
	left: 150px;
	height: 25px;
	width: 25px;
	outline: none;
	background: url(../img/header/searchico.png) no-repeat;
	background-size: 20px 20px;
	background-position: 2.5px 2.5px;
	border: none;
}

.list_icon{
	width: 18px;
	height: auto;
}