<!DOCTYPE html>
<html ng-app="header" ng-controller="headerCtrl">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>点播视频播放页</title>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/play.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/initialize.css"/>
		<link rel="stylesheet" type="text/css" href="css/comment.css"/>
		<link rel="Shortcut Icon" href="favicon.ico" >
		<script type="text/javascript" src="js/domain.js"></script>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/ckplayer/ckplayer.js"></script>
		<script type="text/javascript" src="js/public.js"></script>
		<script type="text/javascript" src="js/comment.js"></script>
	</head>
	<style type="text/css">
	div.btn3{
		background: #3F4DED;
		color: #FFF;
	}
	div.btn3:hover{
	color: #FFF;
	}
	span.btn1icon{
		background: url(img/header/btn1.png) no-repeat;
	}
	span.btn2icon{
		background: url(img/header/btn2.png) no-repeat;
	}
	span.btn3icon{
		background: url(img/header/btn3_w.png) no-repeat;
	}
	span.btn4icon{
		background: url(img/header/btn4.png) no-repeat;
	}
	
	</style>
	<body>
		<!--header-->
		<ng-include src="'template/header.html'"></ng-include>
		<!--section-->
		<section>
			<p id="title" style="font-size: 22px;" ng-cloak>{{title}}</p>
			<div id="playArea" style="width: 1000px;height: 562.5px;">
			</div>
			<div id="intro">
				<p ng-cloak>{{intro}}</p>
			</div>
			
			<!--评论区域-->
			<ul class="nav-head">
				<li onclick="nav_tabClick0()" class="nav-tabs active">课程作业</li>
				<li onclick="nav_tabClick1()" class="nav-tabs">评论问答</li>
			</ul>
			<div id="work">
				<iframe  ng-show='workshow' src="" width="1000" height="1400" id="workframe"></iframe>
				<h1 ng-show='!workshow'>当前课程无作业练习</h1>
			</div>
			<ul id="comment">
				<h1 ng-show='!comment_list'>当前课程无作业练习</h1>
				<li ng-repeat="x in comment_list track by $index" class="comment_content">
					<div class="comment_lr comment_l">
						<div class="avatar">
							<img ng-src="{{x.user_avatar}}"/>
							<p class="user">{{x.user_realname}}</p>
						</div>
					</div>
					<div class="comment_lr comment_r">
						<p class="text_content">
							{{x.cq_content}}
						</p>
						<p class="commenter_info">
							<span>{{x.create_dateline*1000 | date:"yyyy-MM-dd HH:mm:ss"}}</span> | <span class="clickgood"></span>
							<a href="javascript:void(0)" ng-click="clickGood(x.ca_id,x.is_set_good,x)">点赞({{x.good_num}})</a> 
							 | <a href="javascript:void(0)" ng-click="getSecReply($index,1,10,x.cq_key_id,x.cq_key_type,x.cq_pid,x.ca_id)">回复{{x.cq_sub_num==0?'(0)':'('+x.cq_sub_num+')'}}</a>
						</p>
						<ul id="" class="{{'reply_2lv_'+x.ca_id}} reply_2lv_list">
							<a ng-click="rollUpRply(x.ca_id)" style="color: #3F4DED;">>>收起回复<<</a>
							<li ng-repeat="r in reply_2lv_list[$index]" class="">
								
								<p style="margin-bottom: 0;padding: 6px;"><i style="color: #3F4DED;">{{r.user_realname}} 的回复：</i> {{r.cq_content}}</p>
							</li>
							<!--分页-->
							<ul class="pagination pagination2lv" id="{{'pagination2lv_'+x.ca_id}}" style="margin: 0;"></ul>
							
							<textarea name="reply_2lv_textarea" class="reply_2lv_textarea {{'reply_2lv_textarea_'+x.ca_id}}" rows="" cols=""></textarea>
							<br />
							<button ng-click="subComment2lv($index,x.cq_key_id,x.cq_key_type,x.cq_pid,x.ca_id)">回复</button>
						</ul>
					</div>
				</li>
				<ul class="pagination" id="pagination" style="margin-left:50%;transform: translate(-50%);"></ul>
				<hr />
				<textarea name="comment" id="commentArea" rows="" cols="" ></textarea>
				<br />
				<button ng-click="subComment()" class="replybtn_main">回复楼主</button>
			</ul>
			
		</section>
		<!--footer-->
		<ng-include src="'template/footer.html'"></ng-include>
	</body>
	<script type="text/javascript" src="js/jqPaginator.js"></script>
	<script type="text/javascript">
		var headerApp = angular.module("header",[])
		headerApp.controller("headerCtrl",function($scope,$http){
			//预处理连接
			var video_id = window.location.href.split('=')[1]
			$scope.comment_list = []
			$scope.cq_key_type = 2
			//获取视频并播放
			$.ajax({
				type:"get",
				url:domain+"/demand/course/detail/1",
				dataType:'json',
				data:{
					id:video_id
				},
				success:function(res){
//					console.log(res)
					$scope.video_src = res.data.dc_video
					$scope.intro = res.data.dc_abstract
					$scope.title = res.data.dc_title
					
					$scope.$apply()
					if(res.data.exam_id=="0"){
						$scope.workshow = false
					}else{
						$scope.workshow = true
						$scope.examurl = domain+"/live_exam/addon.php?mod=practice&action=answer&do=execute&pm_id="+res.data.exam_id+"&stu_uid="+$scope.userinfo.user_id;
						$('#workframe').attr('src',$scope.examurl)
					}
					$scope.$apply()
					
					if($scope.video_src){
						//创建播放器视频播放器配置
						var flashvars={
					        f:$scope.video_src,
					        c:0
					    };
					    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
					    var videourl = $scope.video_src+"->video/mp4"
					    var video=new Array();
					    video.push(videourl)
					    CKobject.embed('js/ckplayer/ckplayer.swf','playArea','ckplayer_a1','100%','100%',true,flashvars,video,params);
					}else{
						$('#playArea').html('<h1>未找到该视频资源！</h1>')
					}
					$scope.cq_key_id = res.data.dc_id
					// 获取评论列表函数执行
					$scope.getComments(1 ,10 ,res.data.dc_id ,2 );
//					console.log($scope.comment_list)
					//分页
					console.log($scope.totalpage)
					$scope.paginationModel = {
				        totalPages: $scope.totalpage,
//				        totalCounts:100 ,
//				        pageSize:10,
				        visiblePages: 5,
				        currentPage: 1,
				        onPageChange: function (num, type) {
				            $('#p1').text(type + '：' + num);
				            // 点击分页符重新检索列表
				            $scope.getComments(num ,10 ,$scope.cq_key_id ,$scope.cq_key_type )
				        }
				    }
					$.jqPaginator('#pagination', $scope.paginationModel);
				}
			})
			
			// 获取提问列表
			$scope.totalpage = 0
			$scope.getComments = function(page ,limit ,cq_key_id ,cq_key_type ){
				$.ajax({
					type:"post",
					url:domain+"/comment/question/index",
					async:false,
					dataType:"json",
					data:{
						token:$scope.userinfo.token ,
						page:page,
						limit:limit,
						cq_key_id :cq_key_id,
						cq_key_type:cq_key_type
					},
					success:function(res){
//						console.log(res)
						$scope.q_totalrows = res.data.total_rows
						$scope.totalpage = Math.ceil(res.data.total_rows/10)
						if(res.data.page_data.length>0){
							$scope.comment_list = res.data.page_data
						}else{
							$scope.comment_list = []
						}
						
//						console.log($scope.totalpage)
						$scope.$apply()
					}
				});
			}
			
			//发表提问
			$scope.subComment= function(){
				console.log($("#commentArea").val())
				$.ajax({
					type:"post",
					url:domain+"/comment/question/add",
					async:true,
					dataType:"json",
					data:{
						token:$scope.userinfo.token,//提问用户token
					    comment_question: {
					        cq_key_id: $scope.cq_key_id,     		//课程主键编号
					        cq_key_type: $scope.cq_key_type,		 	//课程类型 1是直播,2是点播,3是微课 ,4是家庭教育
					        cq_content: $("#commentArea").val()     //提问内容
    						}
					},
					success:function(res){
						console.log(res)
						$("#commentArea").val("")
						// 获取评论列表函数执行
						$scope.getComments(1 ,10 ,$scope.cq_key_id ,2 );
						if(res.code==1){
							alert("回复成功！");
							$("body").scrollTop(920);
							$scope.reply_2lv_list[0]=[]
							$("ul.reply_2lv_"+ca_id).css("display","none")
						}else{
							alert("回复失败！");
						}
					}
				});
			}
			$scope.reply_2lv_list = []
			$scope.getSecReplyInit = [true,true,true,true,true,true,true,true,true,true]
			// 获取回答列表
			$scope.getSecReply = function(index, page, limit, cq_key_id, cq_key_type, cq_pid,ca_id){
				$("ul.reply_2lv_"+ca_id).css("display","block")
				$.ajax({
					type:"post",
					url:domain+"/comment/question/index",
					async:true,
					dataType:"json",
					data:{
						page:page,
						limit:limit,
						cq_key_id:cq_key_id,
						cq_key_type:cq_key_type,
						cq_pid:ca_id
					},
					success:function(res){
						//console.log(res)
						var a_totalrows = parseInt(res.data.total_rows)
						//console.log("total",a_totalrows)
						if(res.data.page_data.length>0){
							$scope.reply_2lv_list[index] = res.data.page_data
//							console.log($scope.reply_2lv_list)
//							console.log(index)
						}else{
							$scope.reply_2lv_list[index] = []
						}
						//分页
						if(a_totalrows>0){
							var paginationModel2lv = {
								//totalPages: $scope.totalpage2lv,
						        totalCounts:a_totalrows,
						        pageSize:10,
						        visiblePages: 5,
						        currentPage: 1,
						        onPageChange: function (num, type) {
						            $('#p1').text(type + '：' + num);
						            // 点击分页符重新检索列表
						            $scope.getSecReply(index, num, 10, cq_key_id, cq_key_type, cq_pid,ca_id)
						        }
						    }
							if($scope.getSecReplyInit[index]){
								$.jqPaginator('#pagination2lv_'+ca_id, paginationModel2lv);	
								$scope.getSecReplyInit[index] = !$scope.getSecReplyInit[index]
							}
						}
						
						
						$scope.$apply()
					}
				});
			}
			//收起回答列表
			$scope.rollUpRply = function(ca_id){
				$("ul.reply_2lv_"+ca_id).css("display","none")
			}
			//发表回答评论
			$scope.subComment2lv = function(index,cq_key_id,cq_key_type,cq_pid,ca_id){
				var content = $("textarea.reply_2lv_textarea_"+ca_id).val()
				console.log(content)
				$.ajax({
					type:"post",
					url:domain+"/comment/question/add",
					async:true,
					dataType:"json",
					data:{
						token:$scope.userinfo.token,
						comment_question:{
							cq_key_id:cq_key_id,
							cq_key_type:cq_key_type,
							cq_content:content,
							cq_pid:ca_id
						}
					},
					success:function(res){
						console.log(res)
						$scope.getSecReply(index, 1, 10, cq_key_id, cq_key_type, cq_pid,ca_id)
						$("textarea.reply_2lv_textarea_"+ca_id).val("")
											
						if(res.code==1){
							alert("回答成功！")
						}else{
							alert("回答失败！")
						}
						$scope.$apply()
					}
				});
			}
			
			//点赞
			$scope.clickGood = function(ca_id,is_set_good,obj){
				if(is_set_good!=0){
					alert("您已赞过！")
					return
				}
				$.ajax({
					type:"post",
					url:domain+"/comment/question/setgood",
					async:true,
					dataType:"json",
					data:{
						token:$scope.userinfo.token,
						ca_id:ca_id
					},
					success:function(res){
						console.log(res)
						if(res.code==1){
							obj.good_num++
							obj.is_set_good=1
							$scope.$apply()
							alert("点赞成功！")
						}else{
							alert("点赞失败！")
						}
							
					}
				});
			}
			
			
			
			
			$scope.towork = function(){
				if(!$scope.userinfo.user_id){
					alert("查看作业请先登录~")
					window.location = "login.html"
				}else{
//					window.location = $scope.examurl
					$('#workframe').attr('src',$scope.examurl)
					$('#workframe').css('display','block')
				}
			}
			
			//header区域通用js代码
			//get session storage
			if(sessionStorage.getItem('username',$scope.username)){
				$scope.userinfo = {
					username:sessionStorage.getItem('username'),
					token:sessionStorage.getItem('token'),
					user_id:sessionStorage.getItem('user_id'),
					user_phone:sessionStorage.getItem('user_phone'),
					user_role_id:sessionStorage.getItem('user_role_id'),
					ischeck:sessionStorage.getItem('ischeck'),
					create_dateline:sessionStorage.getItem('create_dateline'),
					modify_dateline:sessionStorage.getItem('modify_dateline'),
					avatar:sessionStorage.getItem('user_avatar'),
				realname:sessionStorage.getItem('realname')
				}
			}else{
				// alert('请先登录~')
				window.location='login.html'
				$scope.userinfo = {
					username:'用户未登录',
					avatar:'img/login/default_avatar.png'
				}
			}
			
			//退出
			$scope.exit = function(){
				sessionStorage.clear()
				$scope.userinfo = {
					username:'用户未登录',
					avatar:'img/login/default_avatar.png'
				}
				window.location= "login.html"
			}
			//搜索功能 搜索目标是课程title
			$scope.search = function(){
				if($("input.search-input").val()){
					window.location = "searchres.html?content=" + $("input.search-input").val()
				}else{
					alert("请输入搜索内容")
				}
			}
			//点击播放搜索结果
			$scope.toPlaySearch = function(id){
				$("#search_res").css("display","none")
				window.location="live_play.html?video_id="+id
			}
			
			//个人空间
			$scope.toMyspace = function(){
				if($scope.userinfo.username && $scope.userinfo.username!= "" && $scope.userinfo.username != "用户未登录"){
					$.ajax({
						type:"post",
						url:domain+"/live_sns/mysns.php",
						async:true,
						data:{
							user_id:$scope.userinfo.user_id,
							token:$scope.userinfo.token,
							client:2
						},
						dataType:'json',
						success:function(res){
						}
					});
					window.location=domain+"/live_sns/mysns.php?user_id="+$scope.userinfo.user_id+"&client=2";
				}else{
					alert("用户尚未登录，请先登录。")
					window.location="login.html"
				}
			}
			//！header区域代码结束
			
			//连接跳转
			$scope.toHome = function(){
				window.location = "index.html"
			}
			$scope.toLive = function(){
				window.location = "live.html"
			}
			$scope.toDemand = function(){
				window.location = "demand.html"
			}
			$scope.toHomeEdu = function(){
				window.location = "home-edu.html"
			}
		})
	</script>
	<script type="text/javascript" src="js/play.js"></script>
</html>
