<!DOCTYPE html>
<html  ng-app="header" ng-controller="headerCtrl">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-control" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<title>直播</title>
		<link rel="stylesheet" type="text/css" href="css/initialize.css"/>
		<link rel="stylesheet" type="text/css" href="css/header.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="css/live.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="Shortcut Icon" href="favicon.ico" >
		<script type="text/javascript" src="js/domain.js"></script>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/public.js"></script>
		<script type="text/javascript" src="js/jqPaginator.js"></script>
	</head>
	<style type="text/css">
		span.btn1icon{
		background: url(img/header/btn1.png) no-repeat;
	}
	span.btn2icon{
		background: url(img/header/btn2_w.png) no-repeat;
	}
	span.btn3icon{
		background: url(img/header/btn3.png) no-repeat;
	}
	span.btn4icon{
		background: url(img/header/btn4.png) no-repeat;
	}
	.titleflow{
		overflow: hidden;
	}
	</style>
	<body>
		<!--header-->
		<ng-include src="'template/header.html'"></ng-include>
		<!--section-->
		<section>
			<div id="subjectChoice">
				<p style="color: #A3A3A3;">学科</p><a href="javascript:void(0)" ng-click="fold()" id="fold">全部展开️</a>
				<div id="subjects">
					<a href="javascript:void(0)" ng-click='subjectSelect(0)' class="subject" style="color: #FFF;background-color: #4154E8;">全部</a>
					<a ng-repeat="x in subjects track by $index" class="subject" ng-click='subjectSelect($index+1)' href="javascript:void(0)" ng-cloak>{{x.n}}</a>
				</div>
			</div>
			<div id="container">
				<div class="left" ng-click="toLivePlay(hot_l.ad_link)" ng-cloak>
					<img ng-src="{{hot_l.ai_path}}"/>
					<div class="desc">
						<p class="title">{{hot_l.ai_name}}</p>
						<div class="info">
							<div class="info_man">
								<img src="img/live/teacher_icon.png" class="list_icon"/>
								<span>{{hot_l.lc_teacher}}</span>
							</div>
							<div class="info_eye" style="margin-left: 100px;">
								<img src="img/live/eye_icon.png" class="list_icon"/>
								<span>{{hot_l.lc_choose_num}}</span>
							</div>
							<div class="info_date">
								<img src="img/live/date_icon.png" class="list_icon"/>
								<span>{{hot_l.lc_start_time}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="right" ng-click="toLivePlay(hot_r.ad_link)" ng-cloak>
					<img ng-src="{{hot_r.ai_path}}"/>
					<div class="desc">
						<p class="title">{{hot_r.ai_name}}</p>
						<div class="info">
							<div class="info_man">
								<img src="img/live/teacher_icon.png" class="list_icon"/>
								<span>{{hot_r.lc_teacher}}</span>
							</div>
							<div class="info_eye" style="margin-left: 100px;">
								<img src="img/live/eye_icon.png" class="list_icon"/>
								<span>{{hot_r.lc_choose_num}}</span>
							</div>
							<div class="info_date">
								<img src="img/live/date_icon.png" class="list_icon"/>
								<span>{{hot_r.lc_start_time}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul id="liveShow">
				<li ng-repeat="x in livelist">
					<div ng-click='toLivePlay(x.lc_id,x.lc_start_time)' class="up">
						<img ng-src="{{x.lc_img}}"/>
					</div>
					<div class="mid titleflow">{{x.lc_abstract}}</div>
					<div class="btm">
						<div class="btm1">
							<img src="img/live/teacher_icon.png" class="list_icon"/>
							<a href="">{{x.lc_teacher}}</a>
						</div>
						<div class="btm2">
							<img src="img/live/eye_icon.png" class="list_icon"/>
							<span>{{x.lc_choose_num}}</span>
						</div>
					</div>
					<div class="btm3" style="margin-top: 5px;margin-left: -0px;">
						<img src="img/live/date_icon.png" class="list_icon"/>
						<!--{{ x.create_dateline * 1000 | date:'MM/dd hh:mm' }}-->
						{{ x.lc_start_time * 1000 | date:'MM/dd hh:mm' }} - {{ x.lc_end_time * 1000 | date:'HH:mm' }}
					</div>
				</li>
			</ul>
			<ul class="pagination" id="pagination" style="margin-left:50%;transform: translate(-50%);"></ul>
		</section>
		<!--footer-->
		<ng-include src="'template/footer.html'"></ng-include>
		<!--<ng-include src="'template/header.html'"></ng-include>-->

	</body>
	<script type="text/javascript">
		var headerApp = angular.module("header",[])
		headerApp.controller("headerCtrl",function($scope){
			$scope.toLivePlay = function(ad_link,startTime){
				$.ajax({
					type:"post",
					url:domain+"/live/course/check_start",
					async:true,
					dataType:"json",
					data:{
						id:ad_link,
						token:$scope.userinfo.token,
						mod:"live",
						action:"course",
						do:"check_start",
						api:"json"
					},
					success:function(res){
						console.log(res)
						if(res.code != '1'){
							alert("直播尚未开始~")
						}else{
							window.location="live_play.html?video_id="+ad_link;
						}
					}
				});
			}
			
			$scope.isfold = false;
			$scope.fold = function(){
				if($scope.isfold){
					$scope.isfold = false
					$('#fold').text('全部展开')
					$('#subjects').css('display','none')
				}else{
					$scope.isfold = true
					$('#fold').text('全部收起')
					$('#subjects').css('display','block')
				}
			}
			//header区域通用js代码
			//get session storage
			if(sessionStorage.getItem('username',$scope.username)){
				$scope.userinfo = {
					username:sessionStorage.getItem('username'),
					token:sessionStorage.getItem('token'),
					user_id:sessionStorage.getItem('user_id'),
					user_phone:sessionStorage.getItem('user_phone'),
					user_role_id:sessionStorage.getItem('user_role_id'),
					ischeck:sessionStorage.getItem('ischeck'),
					create_dateline:sessionStorage.getItem('create_dateline'),
					modify_dateline:sessionStorage.getItem('modify_dateline'),
					avatar:sessionStorage.getItem('user_avatar'),
				realname:sessionStorage.getItem('realname')
				}
			}else{
				// alert('请先登录~')
				window.location='login.html'
				$scope.userinfo = {
					username:'用户未登录',
					avatar:'img/login/default_avatar.png'
				}
			}	
			//退出
			$scope.exit = function(){
				sessionStorage.clear()
				$scope.userinfo = {
					username:'用户未登录',
					avatar:'img/login/default_avatar.png'
				}
				window.location= "login.html"
			}
			//搜索功能 搜索目标是课程title
			$scope.search = function(){
				if($("input.search-input").val()){
					window.location = "searchres.html?content=" + $("input.search-input").val()
				}else{
					alert("请输入搜索内容")
				}
			}
			//点击播放搜索结果
			$scope.toPlaySearch = function(id){
				$("#search_res").css("display","none")
				window.location="live_play.html?video_id="+id
			}
			
			//个人空间
			$scope.toMyspace = function(){
				if($scope.userinfo.username && $scope.userinfo.username!= "" && $scope.userinfo.username != "用户未登录"){
					$.ajax({
						type:"post",
						url:domain+"/live_sns/mysns.php",
						async:true,
						data:{
							user_id:$scope.userinfo.user_id,
							token:$scope.userinfo.token,
							client:2
						},
						dataType:'json',
						success:function(res){
						}
					});
					window.location=domain+"/live_sns/mysns.php?user_id="+$scope.userinfo.user_id+"&client=2";
				}else{
					alert("用户尚未登录，请先登录。")
					window.location="login.html"
				}
			}
			//定义页面跳转
			$scope.toHome = function(){
				window.location = "index.html"
			}
			$scope.toLive = function(){
				window.location = "live.html"
			}
			$scope.toDemand = function(){
				window.location = "demand.html"
			}
			$scope.toHomeEdu = function(){
				window.location = "home-edu.html"
			}
			//！header区域代码结束
			
			
			$scope.getLiveHot = function(){
				$.ajax({
				type:"get",
				url:domain+"/ad/info/index?id=6",
				async:true,
				dataType:'json',
				success:function(res){
					console.log(res.data.page_data)
					if(res&&res.data&&res.data.page_data.length>0){
						$scope.livehot = res.data.page_data
						$scope.hot_l = res.data.page_data[0];
						$scope.hot_r = res.data.page_data[1];
						$scope.$apply()
					}
				}
			});
			}
			$scope.getLiveHot()
			
			$scope.subjects = [{"v":"jcsub01","n":"语文"},
            {"v":"jcsub02","n":"数学"},
            {"v":"jcsub03","n":"英语"},
            {"v":"jcsub13","n":"物理"},
            {"v":"jcsub14","n":"化学"},
            {"v":"jcsub15","n":"生物"},
            {"v":"jcsub08","n":"思想品德"},
            {"v":"jcsub09","n":"思想政治"},
            {"v":"jcsub06","n":"品德与生活"},
            {"v":"jcsub07","n":"品德与社会"},
            {"v":"jcsub11","n":"历史"},
            {"v":"jcsub10","n":"历史与社会"},
            {"v":"SUB27","n":"体育"},
            {"v":"jcsub12","n":"地理"},
            {"v":"SUB53","n":"道德与法治"},
            {"v":"jcsub16","n":"科学"},
            {"v":"jcsub18","n":"美术"},
            {"v":"jcsub19","n":"体育与健康"},
            {"v":"jcsub20","n":"音乐"},
            {"v":"jcsub21","n":"信息技术"},
            {"v":"jcsub22","n":"通用技术"},
            {"v":"jcsub23","n":"综合实践活动"},
            {"v":"jcsub24","n":"健康（学前）"},
            {"v":"jcsub25","n":"科学（学前）"},
            {"v":"jcsub26","n":"社会（学前）"},
            {"v":"jcsub27","n":"艺术（学前）"},
            {"v":"jcsub28","n":"语言（学前）"},
            {"v":"jcsub29","n":"科技制作活动"},
            {"v":"jcsub30","n":"劳动与技术"},
            {"v":"jcsub31","n":"生活与科技"},
            {"v":"SUB7","n":"心理健康教育"},
            {"v":"SUB37","n":"计算"},
            {"v":"SUB46","n":"研究性学习活动"},
            {"v":"SUB48","n":"环境教育"},
            {"v":"SUB50","n":"安全教育"},
            {"v":"SUB49","n":"传统文化"},
            {"v":"SUB51","n":"人生规划"}];
            
            
            $scope.getPageData = function(limit,page,subject_id){
					$.ajax({
						type:"post",
						url:domain+"/live/course/index",
						dataType:'json',
						data:{
							page:page,
							limit:limit,
							token:$scope.userinfo.token,
							lc_subject_id : $scope.lc_subject_id
						},
						success:function(res){
							console.log(res)
							$scope.totalrows = res.data.total_rows;
							$scope.livelist = res.data.page_data;
							$scope.total_page = res.data.total_page;
							// pagination
							$scope.paginationModel = {
						        totalPages: $scope.total_page,
						        visiblePages: 5,
						        currentPage: 1,
						        onPageChange: function (num, type) {
						            $('#p1').text(type + '：' + num);
						            // 点击分页符重新检索列表
						            $scope.getPageData(12,num,$scope.lc_subject_id)
						        }
						    }
							
//							$.jqPaginator('#pagination', $scope.paginationModel);
							
							$scope.$apply()
						}
					});
			}
            
            $scope.totalrows = [];
			$scope.total_page = [];
			$scope.getLiveList = function(){
			$.ajax({
				type:"post",
				url:domain+"/live/course/index",
				async:true,
				dataType:'json',
				data:{
					page:1,
					limit:12,	
					token:$scope.userinfo.token
				},
				success:function(res){
					console.log(res)
					$scope.livelist = res.data.page_data
					$scope.totalrows = res.data.total_rows;
					$scope.total_page = res.data.total_page;
					// pagination
					$scope.paginationModel = {
				        totalPages: $scope.total_page,
				        visiblePages: 5,
				        currentPage: 1,
				        onPageChange: function (num, type) {
				            $('#p1').text(type + '：' + num);
				            // 点击分页符重新检索列表
				            $scope.getPageData(12,num,$scope.lc_subject_id)
				        }
				    }
					$.jqPaginator('#pagination', $scope.paginationModel);
					
					$scope.$apply()
					console.log(res.data.page_data)
				}
			});
			}
			$scope.getLiveList()
			
			$scope.lc_subject_id = 0;
			//点击筛选功能
			$scope.subjectSelect = function(index){
				$("div#subjects>a").css("background-color","#FFF")
				$("div#subjects>a").css("color","black")
				$('.subject').eq(index).css("background-color","#4154E8")
				$('.subject').eq(index).css("color","#FFF")
				if(index==0){
					$scope.lc_subject_id = 0;
				}else{
					$scope.lc_subject_id = $scope.subjects[index-1].v;
					console.log($scope.lc_subject_id)
				}
				$.ajax({
					type:"post",
					url:domain+"/live/course/index",
					dataType:'json',
					data:{
						limit:12,
						token:$scope.userinfo.token,
						lc_subject_id : $scope.lc_subject_id
					},
					success:function(res){
						$scope.livelist = res.data.page_data
						$scope.$apply()
					}
				});
			}
			
		})
	</script>
	<script src="https://s22.cnzz.com/z_stat.php?id=1264448747&web_id=1264448747" language="JavaScript"></script>
</html>
